container {
           width:80%;
		   margin:0 auto;
		   
           min-width:780px;
           margin:0 auto;
		   max-width: 1260px;
   		  }
		  
header  {
	     background-color:#EEE8AA;
		  width:100%;
		  height:200px;
		  font-size:75px;
		  text-align:center;
		  border-width:5px;
		  border-style:solid dashed;
		  box-sizing:border-box;
}        

h1      {
	     font-size:40px;
		 text-align:center;
}
h2      {
	     font-size:25px;
		 text-align:center;
		 
		 }
 
header-img  {
	         width:100%;
			 height:100px;
			 background-repeat: no-repeat;
			 position: relative;
             

            }
nav     {
	     background-color:#FFFACD;
		 width:20%;
		 height:768px;
		 float:left;
		 font-size:30px;
		 line-height:350%;
		 text-align:center;
		 border-width:5px;
		 border-style:solid dashed;
		 box-sizing:border-box;	
  
		 		 
        }
nav ul {
	list-style:none;


}
section {
	     background-color:#BDB76B;
		 width:80%;
		 height:768px;
		 float:left;
		 text-align: left;
		 font-size:23px;
		 border-width:5px;
		 border-style:solid dashed;
		 box-sizing:border-box;
}
footer  {
		 background-color:#EEE8AA;
		 width:100%;
		 height:200px;
		 float:left;
		 font-size:20px;
		 line-height:50%;
		 text-align:center;
		 border-width:5px;
		 border-style:solid dashed;
		 box-sizing:border-box;
}

div.ex2     { 
         list-style-type: lower-alpha;
		 background-color:#eb3489;
		 color:yellow;
		 margin-left: auto;
	     margin-right: auto;
		 text-align: left;
		 border-style:solid;
		 width: 30%;
		 	 
		 }

table,th,td
     {
       margin-left: auto;
	   margin-right: auto;
	   border:3px solid;
	   background-color:#8f178f;
	   text-align:center;
	   width:60%;
	   color:yellow;
	   	   
}

video
{       
       margin: auto;
	   display:block;
	   
}
   

strong
{	
color:red;
}
	
	
		    

	
